* {
    font-family: Helvetica, Arial, sans-serif;
}

.text-right {
    text-align: right;
    display: block;
    font-size: 24px;
    justify-content: right;
}

header {
    display: flex;
    /* position: fixed; */
    height: 60px;
    width: 100%;
    line-height: 60px;
    background-color: #2aefcb;
    justify-content: center;
    
}

header h1 {
    margin-left: 20px;
    display: flex;
}

h2 {
    font-size: 24px;
}

.section-area {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

img {
    height: 550px;
    width: 300px;
}

.box {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    height: 300px;
    width: 550px;
    box-sizing: border-box;
}